<% include ../partials/header %>

<div class = 'container'>

  <header class = 'jumbotron' style = 'padding-bottom: 4rem'>
    <h1><%= campground.name %> - Edit Comment</h1>

    <div class = 'row'>
      <form class = 'col-lg-8 col-md-10 p-3' action = '/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT' method = 'POST'>
        <textarea class = 'form-control h-100 mb-3' name = 'comment[text]' placeholder = 'Enter Comment ...'><%= comment.text %></textarea>
        <input class = 'btn btn-primary col-md-6' type = 'submit' value = 'Edit Comment' class = 'btn btn-primary'>
        <a class = 'float-right mt-2' href = '/campgrounds/<%= campground._id %>'>Show Campground</a>
      </form>
    </div>
  </header>

</div>

<% include ../partials/footer %>
