<% include ../partials/header %>

<div class = 'container'>

  <header class = 'jumbotron'>
    <h1><%= campground.name %></h1>

    <div class = 'card col-lg-10 col-md-12'>
      <form class = 'p-3' action = '/campgrounds' method = 'GET'>

        <!--Image and Text-->
        <img class = 'card-img-top img-thumbnail' src = '<%= campground.imageURL %>'>
        <div class = 'card-body' style = 'padding: 0.5rem'>
          <span class = 'card-text'> <%- campground.description %> </span>
        </div>

        <!--Comments for the Campground-->
         <table class = 'table table-striped table-bordered table-hover table-sm' style = 'margin-bottom: 2em; font-size: 0.8em'>
          <thead>
            <tr>
              <th scope = 'col' style = 'width: 15%'>Comments:</th>
              <th scope = 'col'><a class = 'float-right' href = '/campgrounds/<%= campground._id %>/comments/new'>Add Comment</a></th>
            </tr>
          </thead>
          <tbody>
            <% campground.comments.forEach((comment) => { %>
            <tr>
                <td><%= comment.author %></td>
                <td><%- comment.text %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

        <!--Navigation buttons-->
        <input class = 'btn btn-primary col-md-4' type = 'submit' value = 'Edit Campground' class = 'btn btn-primary'>
        <a class = 'btn btn-warning col-md-2' href = '/campgrounds'>Delete</a>
        <a class = 'float-right mt-2' href = '/campgrounds'>View Campgrounds</a>
      </form>
    </div>
  </header>

</div>

<% include ../partials/footer %>
